:root {
    --bg: #2B2136;
    --fg: #9F8ED4;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0;
    margin-bottom: 20px;
}

h1 {
    color: #ddd;
    margin: 20px;
}
