:root {
    --tob-bar-bg: #312936;
    --tob-bar-fg: #9059b3;
    --top-bar-shadow: #7e679188;
    --top-bar-active-fg: #9059b3;
    --top-bar-active-bg: #29073f;
    --top-bar-bottom: #7e6791;
}

body {
    padding-top: calc(2.5em + 5px);
}:root {
    --nav-ham-bg: blue;
    --nav-bg: #312936;
    --nav-fg: #9059b3;
    --nav-shadow: #7e679188;
    --nav-active-fg: #9059b3;
    --nav-active-bg: #29073f;
    --top-bar-bottom: #7e6791;
}


/* [BIG SCREEN] */

#ham-nav label, #burger {
    display: none;
}

#ham-nav {
    width: 100%;
    background: var(--nav-bg);
    color: var(--nav-fg);
    box-shadow: 5px 4px 12px var(--nav-shadow);
}

#ham-items {
    display: flex;
}

#ham-items a {
    flex-grow: 1;
    flex-basis: 0;
    
    font-size: 1.3rem;
    line-height: 3em;
    padding: 0 10px;
    
    text-align: center;
    text-decoration: none;
}

#ham-items a:hover {
    color: var(--nav-bg);
    background: var(--nav-fg);
}

#ham-items a.active {
    color: var(--nav-active-fg);
    background: var(--nav-active-bg);
}

/* [SMOL SCREEN] */
@media screen and (max-width: 798px) {
    body {
        padding: 3em 0;
    }
    
    #ham-nav {
        position: fixed;
        top: 0;
    }
    
    #ham-items a {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-top: 1px solid #000;
    }
    
    #ham-nav label {
        display: inline-block;
        color: var(--fg);
        background: var(--nav-ham-bg);
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }
    
    #ham-items {
        display: none;
    }
    
    #burger:checked ~ #ham-items {
        display: block;
    }
}
